.hr-line {
    color: #1098ad;
}
h1,
h2,
h3,
h4,
p,
a,
li , form,button{
    font-family: sans-serif;
    color: #444;
}

body {
    width: 700px;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    margin: 0 auto;
}

h2 {
    font-size: 26px;
    font-family: sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: #1098ad;
    background-color: #f7f7f7;
}
footer{
    font-size: 16px;
    font-family: sans-serif;
    text-align: center;
}
.breakdown-form {
    text-align: center;
}
.breakdown-result {
    margin-top: 10px;
    text-align: center;
    border: 3px solid #444444;
}

/* styling links */
a:link {
    text-transform: uppercase;
    color: #1098ad;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 10px;
    background-color: #444;
    padding: 5px;

}


a:visited {
    color: #1098ad;
}

a:hover {
    color: orangered;
    font-weight: bold;
    text-decoration: underline orangered;
}

a:active {
    background-color: black;
    font-style: italic;
}

.submit-breakdown {
    text-transform: uppercase;
    background-color: #444;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    border-top: 2px solid #444444;
    border-bottom: 2px solid #444444;

}
.submit-breakdown:hover {
    color: #444;
    background-color: #fff;
}
.breakdown-maker {
    width: 700px;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    margin: 0 auto;
    border: 3px solid #444444;
}
.home-from-breakdown{
    display: inline-block;
    text-align:  center;
}