* {
    margin: 0;
    padding: 0;
}

body {
    color: #444;
    font-family: sans-serif;
    /*border-top: 3px solid #1098ad;*/
}

h1 {
    font-size: 26px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-style: italic;
    color: #444444;
    /*padding: 15px;*/
}
h1,
h2,
h3,
h4,
p,
li {
    font-family: sans-serif;
    color: #444;
}

/*h1,*/
/*h2,*/
/*h3,*/
/*h4 {*/
/*    color: #1098ad;*/
/*}*/
nav {
    font-family: sans-serif;
    /*text-transform: uppercase;*/
    font-size: 18px;
    padding: 10px 40px;
    margin-bottom: 30px;
    text-align: center;
}
aside {
    /*margin-top: 40px;*/
    margin-bottom: 60px;
    /*padding: 15px;*/
}
h1 {
    padding: 15px;
}

h2 {
    font-size: 30px;
    font-family: sans-serif;
    text-align: center;
    background-color: #f7f7f7;
    text-transform: uppercase;
    /*margin-top: 5px;*/
    margin-bottom: 30px;
    padding: 15px;
}
.main-header {
    margin-bottom: 50px;
}
h3 {
    font-size: 30px;
    font-family: sans-serif;
}
h4 {
    font-size: 22px;
    font-family: sans-serif;
    text-transform: uppercase;
    text-align: center;
}

p{
    font-size: 22px;
    font-family: sans-serif;
    line-height: 1.5;
}

li {
    font-size: 20px;
    font-family: sans-serif;
}

footer{
    font-size: 16px;
    font-family: sans-serif;
    text-align: center;
}
form {
    font-size: 20px;
    font-family: sans-serif;
    text-align: center;
}
.label-1 {
    margin: 5px;
    display: inline-block;
}
.labels {
    display: inline-block;
    margin: 5px;
    text-align: center;
}
button {
    font-size: 20px;
    font-family: sans-serif;
    /*background-color: #1098ad;*/
    text-align: center;
}
header {
    background-color: #f7f7f7;
}
.calculator {
    background-color: #f7f7f7;
    /*border-top: 3px solid #1098ad;*/
    /*border-bottom: 3px solid #1098ad;*/

}

a:link {
    color: #444444;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 10px;
    background-color: blanchedalmond;
    padding: 5px;
}

a:visited {
    color: #444444;
}

a:hover {
    color: orangered;
    font-weight: bold;
    text-decoration: underline orangered;
}
a:active {
    background-color: black;
    font-style: italic;
}
.sale-summary {
    text-align: center;
}
.home {
    text-align: center;
}
.ul {
    text-align: left;
    list-style: square;
}
.calculate-button {
    text-transform: uppercase;
    background-color: #444;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    border-top: 2px solid #444444;

}
.calculate-button:hover {
    color: #444;
    background-color: #fff;
}

form label {
    text-transform: uppercase;
}
 .calculator-form {
     padding-top: 10px;
    width: 100%;
    height: auto;
     border: 2px solid #444444;
}

 .container {
     width: 700px;
     /*margin-left: auto;*/
     /*margin-right: auto;*/
     margin: 0 auto;
 }

nav a:link {
    margin-right: 30px;
    margin-top: 10px;
    display: inline-block;
}
nav a:link:last-child {
    margin-right: 0;
}
p {
    position: relative;
}

p::after {
    content: "SALES";
    background-color: yellow;
    color: #fff;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 16px;
    display: inline-block;
    padding: 5px 10px;
    position: absolute;
    top: -17px;
    left: -100px;
}
.colors {
    /*margin-right: -35px;*/
    text-align: center;
}
.for-colors {
    background-color: #000;
    width: 75px;
    height: 27px;
    display: inline-block;
    margin-right: 3px;
    text-align: center;
}

.color-blue {
    background-color: #2f6ee2;
}
.color-yellow {
    background-color: #f0bf1e;
}
.color-green {
    background-color: #90cc20;
}
.color-brown {
    background-color: #885214;
}
.color-red {
    background-color: #ec2f2f;
}
h2 {
    position: relative;
}
.label-blend{
    position: relative;
}
.label-blend::after{
    /*color: #90cc20;*/
    content: "BLEND";
    background-color: #90cc20;
    color: #fff;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 16px;
    display: inline-block;
    padding: 5px 10px;
    position: absolute;
    top: -5px;
    left: -131px;
}
.label-diesel{
    position: relative;
}
.label-diesel::after{
    /*color: #90cc20;*/
    content: "DIESEL";
    background-color: #2f6ee2;
    color: #fff;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 16px;
    display: inline-block;
    padding: 5px 10px;
    position: absolute;
    top: -3px;
    left: -129px;
}
.label-unleaded{
    position: relative;
    margin-right: -30px;
}
.label-unleaded::after{
    /*color: #90cc20;*/
    content: "UNLEADED";
    background-color: #ec2f2f;
    color: #fff;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 16px;
    display: inline-block;
    padding: 5px 10px;
    position: absolute;
    top: -11px;
    left: -125px;
}

.label-prices{
    position: relative;
    margin-right: -30px;
}
.label-prices::after{
    /*color: #90cc20;*/
    content: "PRICE";
    background-color: #000000;
    color: #fff;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 16px;
    display: inline-block;
    padding: 5px 10px;
    position: absolute;
    top: -11px;
    left: -125px;
}
.label-coupons{
    position: relative;
    margin-right: -30px;
}
.label-coupons::after{
    /*color: #90cc20;*/
    content: "COUPONS";
    background-color: #000000;
    color: #fff;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 16px;
    display: inline-block;
    padding: 5px 10px;
    position: absolute;
    top: -7px;
    left: -157px;
}

.label-da{
    position: relative;
    margin-right: -30px;
}
.label-da::after{
    /*color: #90cc20;*/
    content: "DA CARD";
    background-color: #000000;
    color: #fff;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 16px;
    display: inline-block;
    padding: 5px 10px;
    position: absolute;
    top: -7px;
    left: -157px;
}

.label-cash{
    position: relative;
    margin-right: -30px;
}
.label-cash::after{
    /*color: #90cc20;*/
    content: "💰";
    /*background-color: rgb(255, 255, 255);*/
    color: #fff;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 22px;
    display: inline-block;
    padding: 5px 10px;
    position: absolute;
    top: -7px;
    left: -157px;
}