<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" th:href="@{/about.css}" />



</head>
<body>
<article class="home">
    <p>This application can be used to help a fuel attendant quickly calculate
        the total number of litres they have sold using a pump with at most 2 nozzles.
        Listed below are other things that this web application can help an attendant do: </p>
    <ul class="ul">
        <li>determine how much total cash sales they have done </li>
        <li>get a summary of total litres sold </li>
        <li>quickly calculate how much cash in  hand they need to submit which was not dropped</li>
    </ul>
    <p><strong>Usage of this application is for learning purposes only. If the creator of this software shares this product with you they are not responsible for any damages caused</strong></p>
    <p><strong>Make sure your input for starting and end readings is correct!</strong></p>
</article>

<a href="/">Home</a>
<a href="/https://blestportfolio.onrender.com">Contact Me</a>

</body>
</html>