<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>BreakdownMaker</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap"
            rel="stylesheet"
    />
    <link th:href="@{/breakdown.css}" rel="stylesheet">
</head>
<body>

<h2>Breakdown Maker</h2>

<article class="breakdown-maker">
    <form class="breakdown-form" th:action="@{/makeBreakDown}" method="post">

        <div class="form-section">
            <label>
                <input type="checkbox" value="1" name="oneDollar" required>
                One Dollar Notes
            </label>
            <label>
                Number of One Dollar Notes:
                <input type="number" name="numberOfOneDollarNotes" required value="0">
            </label>
        </div>

        <div class="form-section">
            <label>
                <input type="checkbox" value="2" name="twoDollars" required>
                Two Dollar Notes
            </label>
            <label>
                Number of Two Dollar Notes:
                <input type="number" name="numberOfTwoDollarNotes" required value="0">
            </label>
        </div>

        <div class="form-section">
            <label>
                <input type="checkbox" value="5" name="fiveDollars" required>
                Five Dollar Notes
            </label>
            <label>
                Number of Five Dollar Notes:
                <input type="number" name="numberOfFiveDollarNotes" required value="0">
            </label>
        </div>

        <div class="form-section">
            <label>
                <input type="checkbox" value="10" name="tenDollars" required>
                Ten Dollar Notes
            </label>
            <label>
                Number of Ten Dollar Notes:
                <input type="number" name="numberOfTenDollarNotes" required value="0">
            </label>
        </div>

        <div class="form-section">
            <label>
                <input type="checkbox" value="20" name="twentyDollars" required>
                Twenty Dollar Notes
            </label>
            <label>
                Number of Twenty Dollar Notes:
                <input type="number" name="numberOfTwentyDollarNotes" required value="0">
            </label>
        </div>

        <div class="form-section">
            <label>
                <input type="checkbox" value="50" name="fiftyDollars" required>
                Fifty Dollar Notes
            </label>
            <label>
                Number of Fifty Dollar Notes:
                <input type="number" name="numberOfFiftyDollarNotes" required value="0">
            </label>
        </div>

        <div class="form-section">
            <label>
                <input type="checkbox" value="100" name="oneHundredDollars" required>
                One Hundred Dollar Notes
            </label>
            <label>
                Number of One Hundred Dollar Notes:
                <input type="number" name="numberOfOneHundredDollarNotes" required value="0">
            </label>
        </div>

        <button class="submit-breakdown" type="submit">Make Breakdown</button>
    </form>
</article>

<a class="home-from-breakdown" href="/">Home</a>

<hr class="hr-line">

<footer>
    Copyright &copy; 2025 by Obey Sibanda. Part of "BlestCodeStudios Projects - DA Kuwadzana".
    Use for learning purposes only.
</footer>

</body>
</html>
