<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Fuel Sales Calculator</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
</head>
<body>

<header>
    <nav>
        <a href="/">Home</a>
        <a href="#">About</a>
        <a href="https://blestportfolio.onrender.com"> Contact Us</a>
    </nav>
</header>

<article class="home">
     <p>This application can be used to help a fuel attendant quickly calculate
     the total number of litres they have sold using a pump with at most 2 nozzles.
     Listed below are other things that this web application can help an attendant do: </p>
        <ul class="ul">
    <li>determine how much total cash sales they have done </li>
    <li>get a summary of total litres sold </li>
    <li>quickly calculate how much cash in  hand they need to submit which was not dropped</li>
        </ul>
   <p><strong>Usage of this application is for learning purposes only. If the creator of this software shares this product with you they are not responsible for any damages caused</strong></p>
   <p><strong>Make sure your input for starting and end readings is correct!</strong></p>
</article>


<aside class="calculator">
<h2>Fuel Sales Calculator</h2>

<form th:action="@{/calculate}" method="post">
    <label>Nozzle A - Start Reading:
    <input type="number" step="0.01" name="startReadingA" required></label><br>

    <label>Nozzle A - End Reading:
    <input type="number" step="0.01" name="endReadingA" required></label><br>

    <label>Nozzle B - Start Reading:
    <input type="number" step="0.01" name="startReadingB" required></label><br>

    <label>Nozzle B - End Reading:
    <input type="number" step="0.01" name="endReadingB" required></label><br>

    <label>Price Per Litre (USD):
    <input type="number" step="0.01" name="pricePerLitre" required></label><br>

    <label>Coupon Litres:
    <input type="number" step="0.01" name="couponLitres" value="0.0" required></label><br>

    <label>DaCard Litres:
    <input type="number" step="0.01" name="daCardLitres" value="0.0" required></label><br>
    <label>Cash Dropped:
        <input type="number"  name="cashDropped" value="0" required></label><br><br>

    <button type="submit">Calculate</button>
</form>
</aside>
<footer>Copyright &copy; BlestCodeStudios 2025</footer>
</body>
</html>
