<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Fuel Sales Calculator</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
</head>
<body>

<header>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="https://blestportfolio.onrender.com"> Contact Us</a>
    </nav>
</header>




<aside class="calculator">
<h2>Fuel Sales Calculator</h2>

<form th:action="@{/calculate}" method="post">
    <label class="label-1">Nozzle A - Start Reading:
    <input type="number" step="0.01" name="startReadingA" required></label><br>

    <label>Nozzle A - End Reading:
    <input type="number" step="0.01" name="endReadingA" required></label><br>

    <label>Nozzle B - Start Reading:
    <input type="number" step="0.01" name="startReadingB" required></label><br>

    <label>Nozzle B - End Reading:
    <input type="number" step="0.01" name="endReadingB" required></label><br>

    <label>Price Per Litre (USD):
    <input type="number" step="0.01" name="pricePerLitre" required></label><br>

    <label>Coupon Litres:
    <input type="number" step="0.01" name="couponLitres" value="0.0" required></label><br>

    <label>DaCard Litres:
    <input type="number" step="0.01" name="daCardLitres" value="0.0" required></label><br>
    <label>Cash Dropped:
        <input type="number"  name="cashDropped" value="0" required></label><br><br>

    <button class="calculate-button" type="submit">Calculate</button>
</form>
</aside>
<footer>Copyright &copy; BlestCodeStudios 2025</footer>
</body>
</html>
